Repository UWmathNEWS/slugline-web, pull requests merged in 2020-09, with the labels that each got.

#80 Update react-bootstrap to 1.3.0 and typescript to 3.9
  package-lock.json
  package.json
  src/App.tsx
  src/routes/Public.tsx
  src/shared/form/Field.tsx
  src/shared/form/PasswordField.tsx
  src/shared/form/util.ts
  src/shared/types.ts
Labels: dependencies

#78 Implement home
  package-lock.json
  package.json
  server/src/renderers/serverRenderer.tsx
  server/src/server.tsx
  src/App.tsx
  src/__tests__/App.int.test.tsx
  src/api/__tests__/api.unit.test.ts
  src/api/api.ts
  src/header/SluglineNav.tsx
  src/header/styles/SluglineNav.scss
  src/home/Home.tsx
  src/home/styles/Home.scss
  src/issues/IssuePage.tsx
  src/issues/IssuesList.tsx
  src/routes/Dash.tsx
  src/routes/Public.tsx
  src/shared/__tests__/helpers.unit.test.ts
  src/shared/components/ActionLink.tsx
  src/shared/components/Button.tsx
  src/shared/components/Dateline.tsx
  src/shared/components/Hero.tsx
  src/shared/components/IssueEntry.tsx
  src/shared/components/Paginator.tsx
  src/shared/components/Visor.tsx
  src/shared/components/__tests__/ActionLink.unit.test.tsx
  src/shared/components/__tests__/Button.unit.test.tsx
  src/shared/components/__tests__/Dateline.unit.test.tsx
  src/shared/components/__tests__/Hero.unit.test.tsx
  src/shared/components/__tests__/IssueEntry.unit.test.tsx
  src/shared/components/__tests__/Paginator.unit.test.tsx
  src/shared/components/styles/ActionLink.scss
  src/shared/components/styles/Button.scss
  src/shared/components/styles/Dateline.scss
  src/shared/components/styles/Hero.scss
  src/shared/components/styles/IssueEntry.scss
  src/shared/components/styles/Loader.scss
  src/shared/components/styles/Paginator.scss
  src/shared/errors/Error404.tsx
  src/shared/errors/Error500.tsx
  src/shared/helpers.tsx
  src/shared/test-utils.tsx
  src/shared/types.ts
  src/styles/_slugline_vars.scss
  src/styles/slugline.scss
Labels: feature, has backend, tests

#82 Add list support
  src/editor/CustomEditor.ts
  src/editor/EditorControls.tsx
  src/editor/SluglineEditor.tsx
  src/editor/__tests__/CustomEditor.unit.test.ts
  src/editor/__tests__/list.unit.test.ts
  src/editor/helpers.ts
  src/editor/types.ts
  src/shared/icons.ts
Labels: tests, unit: editor
